.container-fluid {
   padding: 0 !important;
}

.HomeContainer {
   padding: 15px 50px 15px 50px;
}

.TitleInvoice {
   font-weight: bold;
   font-size: 1.3em;
}

.NumberInvoice {
   font-weight: 500;
   font-size: 0.7em;
   color: #555657;
}