.card {
   border-radius: 2px !important;
   margin-top: 10px;
   border: 1px solid rgba(0, 0, 0, .05);
   box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.card-header {
   background-color: white;
   font-weight: bold;
   text-transform: uppercase;
   font-size: 0.8em;
   border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.card-body {
   padding-top: 0px;
   padding-bottom: 0px;
}

.titles {
   font-size: 0.7em
}

.titles strong {
   color: #474747
}

.mainTitles {
   font-size: 0.9em;
   font-weight: bold;
}

.text-warning {
   font-weight: 900;
   color: #ff9d00 !important;
}